<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Associate User Template</title>
  </head>
  <body class="text-[16px] leading-7">
    <div class="flex justify-center items-center">
      <img src="logo.png" alt="logo" class="mt-[56px] w-[233px]" />
    </div>
    <div class="mx-[5%] my-[5%]">
      <div class="rectangle p-10"></div>
      <div class="message-body bg-white py-10 px-[5%]">
        <div class="flex flex-col justify-center items-center w-full">
          <h2 class="text-[24px] font-bold">User Invite Confirmation</h2>
          <img src="letter.png" alt="letter" class="w-[215px]" />
        </div>
        <div>
          <p>Hi [Recipient's Name]</p>
          <p class="mt-10">
            Great news! Your acceptance of the invitation to join the Unifaires
            community has been confirmed. You're now officially a part of our
            dynamic and inclusive network.
          </p>
          <p class="mt-4">Below is your Generated Access Code</p>
          <div class="my-4">
            <p class="font-bold text-[24px]">Access Code</p>
            <p>KJFDIIELDMLDDF</p>
          </div>
        </div>
        <hr class="my-4 border-2 border-purple-200" />
        <div class="mt-8">
          <p class="text-[24px] font-bold ml-2">
            Here is a quick summary of what's next:
          </p>
          <div class="flex lg:flex-row md:flex-col sm:flex-col flex-col mt-6">
            <p class="lg:w-1/5 md:w-full font-semibold mb-2">Dive in:</p>
            <p>
              Start exploring the wealth of knowledge, discussions, and
              connections available to you on Unifaires Feel free to introduce
              yourself or join ongoing conversations that interest you.
            </p>
          </div>
          <div class="flex lg:flex-row md:flex-col sm:flex-col flex-col mt-6">
            <p class="lg:w-1/5 md:w-full font-semibold mb-2">
              Customise your Profile:
            </p>
            <p>
              Make your presence unique. Personalize your profile by adding a
              photo, sharing your expertise, and letting others know what you're
              passionate about.
            </p>
          </div>
        </div>
        <hr class="my-8 border-2 border-purple-200" />
        <div>
          <p>
            We're delighted to have you as part of the Unifaires community. Your
            presence is valued, and your contributions will make a difference.
          </p>
          <p class="mt-4">
            Thank you for confirming your invitation. Let's embark on this
            exciting journey together!
          </p>
        </div>
        <div class="my-10">
          <p>Warm regards,</p>
          <p class="mt-4">Unifaires</p>
        </div>
      </div>
    </div>
  </body>
</html>
