<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @media (max-width: 600px) {
        body {
          padding: 20px;
        }
      }

      @media (min-width: 601px) {
        body {
          padding: 10%;
        }
      }
    </style>
    <title>User Verification</title>
  </head>
  <body
    style="
      font-size: 14px;
      line-height: 1.4;
      background-color: #d4c3e6;
      margin: 0;
      padding: 20%;
    "
  >
    <table
      role="presentation"
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="max-width: 90%; padding: 100px"
    >
      <tr>
        <td
          style="
            padding: 15px;
            background-color: #d2cfd4;
            height: 60px;
            text-align: center;
          "
        >
          <img
            src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279620/0127e87303a76092f10d011f38c1c18c.png"
            alt="logo"
            style="width: 180px; max-width: 100%"
          />
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 10px 5% 40px 5%;
            background-color: white;
            background-image: url('https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279536/38631ee04ecf6c5ad11ac0798521b919.png');
            background-size: 654px;
            background-repeat: no-repeat;
            background-position: center;
          "
        >
          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
          >
            <tr>
              <td>
                <h2 style="font-size: 18px; font-weight: 800">
                  Email Confirmation
                </h2>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  Hi
                  <span style="text-transform: capitalize">${firstname}</span>
                </p>
                <p
                  style="
                    margin-top: 10px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    width: 85%;
                    margin: 10px auto;
                  "
                >
                  You're almost ready to use Unifaires! Simply click the big
                  button below to verify your email address.
                </p>
              </td>
            </tr>
          </table>

          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
          >
            <tr>
              <td
                style="
                  font-size: 14px;
                  font-weight: bold;
                  padding: 20px 0px;
                  text-align: center;
                "
              >
                <a
                  href="${verificationLink}"
                  style="
                    background-color: #5a32da;
                    color: white;
                    margin: auto;
                    display: inline-block;
                    text-decoration: none;
                    padding: 12px;
                    border-radius: 4px;
                  "
                >
                  Verify email address
                </a>
              </td>
            </tr>
          </table>
          <hr style="margin-top: 20px; border: 2px solid #913be366" />

          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
          >
            <tr>
              <td style="padding-top: 20px">Warm regards,</td>
            </tr>
            <tr>
              <td style="padding-top: 10px">Unifaires</td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
            style="max-width: 600px; margin: 30px auto 0; text-align: center"
          >
            <tr>
              <td>
                <p
                  style="font-weight: bold; color: #12355b; margin-bottom: 10px"
                >
                  Stay up to date with our Latest news and Features
                </p>
                <p style="color: white; font-weight: 500; margin-bottom: 5px">
                  Copyright © 2021-2022 Unifaires GmbH. All Rights Reserved
                </p>
                <p style="color: white; font-weight: 500; margin-bottom: 20px">
                  Terms of Service | Privacy Policy
                </p>
              </td>
            </tr>
          </table>

          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
            style="margin-top: 10px; margin-bottom: 10px"
          >
            <tr align="center">
              <td>
                <img
                  src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279353/b2a717ea4024ac15e29dbd023c01ab56.png"
                  alt="LinkedIn"
                  style="width: 18px; margin-right: 10px"
                />
                <img
                  src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279435/f7f120c6e1c903b1779a128ba0cf3561.png"
                  alt="YouTube"
                  style="width: 18px; margin-right: 10px"
                />
                <img
                  src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279304/c4620c22b30e724ab2ac3de08f6e391d.png"
                  alt="Instagram"
                  style="width: 18px; margin-right: 10px"
                />
                <img
                  src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279487/fb9222877fd0b1a513caac8d6844f6df.png"
                  alt="Facebook"
                  style="width: 18px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
