<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @media (max-width: 600px) {
        body {
          padding: 20px;
        }
      }

      @media (min-width: 601px) {
        body {
          padding: 10%;
        }
      }
    </style>
    <title>Associate User Template</title>
  </head>
  <body
    style="
      font-size: 16px;
      line-height: 1.4;
      background-color: #d4c3e6;
      margin: 0;
    "
  >
    <table
      role="presentation"
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="max-width: 100%"
    >
      <tr>
        <td align="center" style="padding-top: 56px; padding-bottom: 20px"></td>
      </tr>

      <tr>
        <td
          style="
            margin: 5% 5%;
            padding: 25px;
            background-color: #d2cfd4;
            height: 80px;
          "
          align="center"
        >
          <img
            src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279620/0127e87303a76092f10d011f38c1c18c.png"
            alt="logo"
            style="width: 180px; max-width: 100%"
          />
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 10px 5% 40px 5%;
            background-color: white;
            background-image: url('https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279536/38631ee04ecf6c5ad11ac0798521b919.png');
            background-size: 654px;
            background-repeat: no-repeat;
            background-position: center;
          "
        >
          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
          >
            <tr>
              <td>
                <h2 style="font-size: 34px; font-weight: 800">Access Invite</h2>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  Dear
                  <span style="text-transform: capitalize">${comapn}</span>
                </p>
                <p style="font-size: 16px; font-weight: 500; width: 80%">
                  You have been invited by ${companyName} to help manage their
                  account on Unifaires. This is a great opportunity to
                  collaborate and access shared features designed to facilitate
                  efficient management and oversight.
                </p>

                <p style="font-size: 18px; font-weight: 600">
                  Please follow these steps to accept the invitation and get
                  started:
                </p>

                <p style="font-size: 16px; font-weight: 500">
                  1. Accept the Invitation: Click the button below to confirm
                  your willingness to manage the account.
                </p>

                <p style="text-align: center; margin: 20px">
                  <a
                    href="${acceptLink}"
                    style="
                      background-color: #913be366;
                      display: inline-block;
                      padding: 10px 20px;
                      border: 1px solid gray;
                      text-decoration: none;
                      border: 3px;
                      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
                      color: white;
                    "
                    >Accept Invitation</a
                  >
                </p>

                <p style="font-size: 16px; font-weight: 500">
                  2. Set Up Your Access: Once you accept, you'll be prompted to
                  log in or create a new account if you don't already have one.
                </p>

                <p style="font-size: 16px; font-weight: 500">
                  As an account manager, you will have the ability to access and
                  perform specific functions that are crucial for the effective
                  management of the account. Please ensure that you understand
                  the responsibilities that come with these capabilities.
                </p>

                <p style="font-size: 16px; font-weight: 500">
                  Should you have any questions or require further information,
                  please feel free to contact
                  <a href="mailto:support@tryunifaires.com"
                    >support@tryunifaires.com</a
                  >
                  or visit our support center.
                </p>

                <p style="font-size: 16px; font-weight: 500">
                  We look forward to seeing the great work you will achieve
                  together!
                </p>
              </td>
            </tr>
          </table>

          <hr style="margin-top: 20px; border: 2px solid #913be366" />

          <table
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
          >
            <tr>
              <td style="padding-top: 20px">Warm regards,</td>
            </tr>
            <tr>
              <td style="padding-top: 10px">Unifaires</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <div style="margin-top: 100px; text-align: center">
      <p style="font-weight: bold; color: #12355b">
        Stay upto date with our Latest news and Features
      </p>
      <div>
        <p style="color: white; font-weight: 500">
          Copyright © 2021-2022 Unifaires GmbH. All Rights Reserved
        </p>
        <p style="color: white; font-weight: 500">
          Terms of Services | Privacy of Use
        </p>
      </div>
    </div>

    <table
      role="presentation"
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="margin-top: 20px; margin-bottom: 20px"
    >
      <tr align="center">
        <td>
          <img
            src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279353/b2a717ea4024ac15e29dbd023c01ab56.png"
            alt="LinkedIn"
            style="width: 50px; margin-right: 20px"
          />
          <img
            src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279435/f7f120c6e1c903b1779a128ba0cf3561.png"
            alt="YouTube"
            style="width: 50px; margin-right: 20px"
          />
          <img
            src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279304/c4620c22b30e724ab2ac3de08f6e391d.png"
            alt="Instagram"
            style="width: 50px; margin-right: 20px"
          />
          <img
            src="https://res.cloudinary.com/dhxhqmx52/image/upload/v1703279487/fb9222877fd0b1a513caac8d6844f6df.png"
            alt="Facebook"
            style="width: 50px"
          />
        </td>
      </tr>
    </table>
  </body>
</html>
